@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");

.homePage {
  font-size: 20px;
  font-family: "Merienda", cursive;
  box-sizing: border-box;
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 15%;
  background: linear-gradient(
    225deg,
    rgba(255, 208, 228, 1) 9%,
    rgba(246, 173, 203, 1) 20%,
    rgba(191, 133, 158, 1) 38%,
    rgba(135, 69, 98, 1) 80%
  );
}
.intro {
  box-sizing: border-box;
  width: 90%;
  max-width: 95vw;
  height: 600px;
  margin: 10vh auto auto auto;
  padding: .5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
}
.hello {
  font-size: 3em;
  color: rgba(235, 199, 199, 0.486);
}
.about {
  font-size: 1em;
  color: rgb(235, 199, 199);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.2);
}
.light {
  opacity: 0.5;
  animation: flash 1.5s ease-out alternate infinite;
}
.lighter {
  opacity: 0;
  animation: brighter 1.5s ease-out alternate infinite;
}
span:not(.light):not(.lighter) {
  opacity: 0;
  animation: lights 1.5s ease-out alternate infinite;
}

@keyframes lights {
  to {
    opacity: 0.2;
  }
}
@keyframes brighter {
  to {
    opacity: 0.5;
  }
}
@keyframes flash {
  to {
    opacity: 1;
    text-shadow: 0 0 80px white, 0 0 90px rgba(255, 255, 255, 0.788);
  }
}
